@charset "UTF-8";

.left_col {
  background: #2A3F54; }


.menu_section {
  margin-bottom: 35px; }

.menu_section h3 {
  padding-left: 23px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px #000; }

.menu_section > ul {
  margin-top: 10px; }

.profile_pic {
  width: 35%;
  float: left; }

.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px; }

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left; }

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8; }

.profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300; }





.main_menu span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA; }





.nav_menu {
  float: left;
  background: #17a4d9;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  width: 100%;
  position: relative; }
.navbar-fixed-left{
	position: fixed;
	left: 0;
	top: 10px;
	bottom: 0;
}
.markSheetEntry{}
.markSheetEntry tr td span{width: 50%; text-align: center;    display: block;    float: left;}
.markSheetEntry tr td span.achievement{background:#E0E0E0 }
.markSheetEntry tr td span.effort{background: #bdbdbd}
.markSheetEntry tr td span select{background: none; width: 100%; border: none }
@media (min-width: 480px) {
  .nav_menu {
    position: static; } }
.nav-md .container.body .col-md-3.left_col {
  width: 230px;
  padding: 0;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999; }


body .container.body .right_col {
  background: #F7F7F7; }

.nav-md .container.body .right_col {
  padding: 47px 20px 0;
  margin-left: 230px; }

.nav_title {
  width: 230px;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px; }

@media (max-width: 991px) {
  .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0; position: relative }

  .nav-md .container.body .col-md-3.left_col {
    display: none; }

  .nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0; }

  .right_col {
    padding: 10px !important; } }
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px; }

}
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title h2 small {
    display: none; } }


/**  ------------------------------------------  **/













.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff; }

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff; }





.container {
  width: 100%;
  padding: 0; }

.navbar-nav > li > a, .navbar-nav > li > a {
  color: #fff !important; }

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover {
  background: #0689bb; }

body {
  color: #73879C;
  background: #2A3F54;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
padding-top: 10px;}

.main_container .top_nav {
  display: block;
  margin-left: 230px; }


.page-title {
  width: 100%;
  height: 65px;
  padding: 10px 0; }

.page-title .title_left {
  width: 45%;
  float: left;
  display: block; }

.page-title .title_left h3 {
  margin: 9px 0; }

.page-title .title_right {
  width: 55%;
  float: left;
  display: block; }

.page-title .title_right .pull-right {
  margin: 10px 0; }










@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 192px) and (max-width: 1270px) {
}

.col-md-3, .col-sm-5, .col-md-5, .col-xs-12, .col-sm-12, .col-md-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }


h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

a {
  color: #5A738E;
  text-decoration: none; }

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus {
  outline: 0; }

a:hover, a:focus {
  text-decoration: none; }

.navbar {
  margin-bottom: 0; }


.navbar-right {
  margin-right: 0; }

.top_nav .navbar-right {
  margin: 0;
  width: 75%;
  float: right; }

.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static; }

@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative; } }
@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative; } }
.top_nav .dropdown-menu li {
  width: 100%; }

.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px; }

.top_nav li a i {
  font-size: 15px; }




.nav.side-menu > li {
  position: relative;
  display: block;
  cursor: pointer; }

.nav.side-menu > li > a {
  margin-bottom: 6px; }

.nav.side-menu > li > a:hover {
  color: #F2F5F7 !important; }

.nav.side-menu > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: transparent; }

.nav.child_menu {
  display: none; }

.nav.child_menu li:hover,
.nav.child_menu li.active {
  background-color: rgba(255, 255, 255, 0.06); }

.nav.child_menu li {
  padding-left: 36px; }

.nav-md ul.nav.child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%; }

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0; }

.nav.side-menu > li > a, .nav.child_menu > li > a {
  color: #E7E7E7;
  font-weight: 500; }



.nav > li > a {
  position: relative;
  display: block;
  padding: 13px 15px 12px; }






.navbar-nav > li > a {
  font-weight: 500;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 32px; }

.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 59px;
  display: block;
  height: 73px;
  margin: 0;
  padding-left: 21px; }

.site_title:hover, .site_title:focus {
  text-decoration: none; }

.nav.navbar-nav > li > a {
  color: #fff !important; }


.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; }

.top_search {
  padding: 0; }

.top_search .form-control {
  border-right: 0;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
  border: 1px solid rgba(221, 226, 232, 0.49); }

.top_search .form-control:focus {
  border: 1px solid rgba(221, 226, 232, 0.49);
  border-right: 0; }

.top_search .input-group-btn button {
  border-radius: 0px 25px 25px 0px;
  border: 1px solid rgba(221, 226, 232, 0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #93A2B2;
  margin-bottom: 0 !important; }

.toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px; }

.toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer; 
color: #fff;}

.toggle a i {
  font-size: 26px; }

.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 9px; }

.panel_toolbox {
  float: right;
  min-width: 70px; }

.panel_toolbox > li {
  float: left;
  cursor: pointer; }

.panel_toolbox > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px; }

.panel_toolbox > li > a:hover {
  background: #F5F7FA; }


.main_menu_side {
  padding: 0; }


footer {
  background: #fff;
  padding: 15px 20px;
  display: block; }

@media (min-width: 768px) {
  footer {
    margin-left: 230px; } }


@media (min-width: 768px) {
}
@media (min-width: 768px) {
}








/* *********  custom accordion  **************************** */
*, *:before, *:after {
  box-sizing: border-box; }








h2 {
  font-size: 18px;
  font-weight: 400; }










.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease; }

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px; }


.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.x_title h2 small {
  margin-left: 10px; }


.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px; }


legend {
  padding-bottom: 7px; }


/** Contacts **/















/** Contacts **/
/* *********  /custom accordion  **************************** */
/* *********  dashboard widget  **************************** */













td span {
  line-height: 28px; }










/* *********  tables styling  ******************************* */



















/* Pagination nested */







































/* *********  /tables styleing  ****************************** */
/* *********  /dashboard widget  **************************** */
/* *********  widgets  *************************************** */
ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important; }

ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px; }

ul.msg_list li a {
  padding: 3px 5px !important; }

ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%; }

ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px; }

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px; }

.dropdown-menu.msg_list span {
  white-space: normal; }

.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.dropdown-menu > li > a {
  color: #5A738E; }



.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px; }
























.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  background: #2A3F54; }

.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44; }

.sidebar-footer a:hover {
  background: #425567; }

/** top tiles  */


@media (min-width: 992px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
}
@media (min-width: 992px) and (max-width: 1100px) {
}

@media (min-width: 768px) {
}

/** /top tiles **/


a.user-profile {
  color: #5E6974 !important; }

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px; }












/* *********  /widgets  *************************************** */
/* *********  iconts-display  **************************** */




.main_menu .fa {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* *********  /iconts-display  **************************** */
/** tile stats **/

















/** /tile stats **/
/** inbox **/







button, .btn {
  margin-bottom: 5px;
  margin-right: 5px; }










@media (max-width: 767px) {
}














/** /inbox **/
/* *********  form design  **************************** */

.input-group {
  margin-bottom: 10px; }



.form-control {
  border-radius: 0;
  width: 100%; }


.form-control:focus {
  border-color: #CCD0D7;
  box-shadow: none !important; }

legend {
  font-size: 18px;
  color: inherit; }







.form-group {
  margin-bottom: 10px; }











/* alerts (when validation fails) */






/* ***** autocomplete ***** */




/* ***** /autocomplete *****/
/* ***** buttons ********/
.btn {
  border-radius: 3px; }












/* ***** /buttons *******/
/* *********  /form design  **************************** */
/* *********  form textarea  **************************** */
textarea {
  padding: 10px;
  vertical-align: top;
  width: 200px; }

textarea:focus {
  outline-style: solid;
  outline-width: 2px; }


/* *********  /form textarea  **************************** */
/* *********  glyphicons  **************************** */






@media (min-width: 768px) {

}
/* *********  /glyphicons  **************************** */
/* *********  form tags input  **************************** */








/* *********  /form tags input  **************************** */
/** Tabs **/








a:focus {
  outline: none; }

/** /Tabs **/
/* *********  timeline  **************************** */














/* *********  /timeline  **************************** */
/* *********  profile/social  **************************** */










/* *********  /profile/social  **************************** */
/* *********  widgets  **************************** */







































/* *********  /widgets  **************************** */


























/* *********  pricing  **************************** */

















/* *********  /pricing  **************************** */
/* *********  media gallery  **************************** */




















/* *********  /media gallery  **************************** */
/* *********  verticle tabs  **************************** */
/*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 0smail Demirbilek
 * License: MIT
 */


















/* *********  /verticle tabs  **************************** */














@media (min-width: 992px) {
}



/* *********  /image cropping  **************************** */
/* *********  moris  **************************** */




/* *********  /moris  **************************** */
/* *********  ecommerce  **************************** */













/* *********  /ecommerce  **************************** */
/** login **/










/** /login **/
/** signup **/




.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
























header {
  width: 100%; }

/** signup **/
/* *********  start nprogress  **************************** */
/* Make clicks pass-through */


/* Fancy blur effect */

/* Remove these to get rid of the spinner */



@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* *********  end nprogress  **************************** */
/** bootstrap-wysiwyg **/



.dropdown-menu a {
  cursor: pointer; }

/** /bootstrap-wysiwyg **/
/** Select2 **/






/** /Select2 **/
/** Switchery **/


/** /Switchery **/
/** Normalize.css **/
fieldset {
  border: none;
  margin: 0;
  padding: 0; }

/** /Normalize.css **/
/** Cropper **/


@media (min-width: 768px) {
}



















@media (max-width: 400px) {


}








/** /Cropper **/
/** jQuery Smart Wizard  **/






























/** jQuery Smart Wizard  **/
/** bootstrap-progressbar  **/

















/** bootstrap-progressbar  **/
/** PNotify **/














/** /PNotify **/
/** bootstrap-daterangepicker **/






















































/** bootstrap-daterangepicker **/
/** FullCalendar **/


/** /FullCalendar **/
/** Dropzone.js **/

/** /Dropzone.js **/
